[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GPCERF"]
	path = GPCERF
	url = https://github.com/nsaph-software/gpcerf
	shallow = true
	registered = true
[submodule "CausalGPS"]
	path = CausalGPS
	url = https://github.com/nsaph-software/causalgps
	shallow = true
	registered = true
[submodule "CRE"]
	path = CRE
	url = https://github.com/nsaph-software/cre
	shallow = true
	registered = true
